<div class="header">
  <h4>{{ 'app.title' | translate }}</h4>
  <div class="language-selector">
    <!-- Utilize mat-menu para criar o menu -->
    <button mat-button [matMenuTriggerFor]="languageMenu">
      {{ 'app.language' | translate }}
    </button>
    <mat-menu #languageMenu="matMenu">
      <button mat-menu-item (click)="changeLanguage('en')">English</button>
      <button mat-menu-item (click)="changeLanguage('pt')">Português</button>
      <button mat-menu-item (click)="changeLanguage('es')">Espanhol</button>
    </mat-menu>
  </div>
  <button mat-button (click)="addNewUser()">{{ 'app.addUser' | translate }}</button>
</div>
<router-outlet></router-outlet>
