<div class="edit-user-modal">
  <h2 class="text-center">{{ (update ? 'app.editUserModal.editUser' : 'app.editUserModal.addUser') | translate }}</h2>
  <form [formGroup]="editForm" (ngSubmit)="saveChanges()">
    <mat-grid-list gutterSize="12" cols="2" rowHeight="70">
      <mat-grid-tile>
        <mat-form-field class="input-full-width">
          <mat-label>{{ 'app.editUserModal.firstName' | translate }}</mat-label>
          <input matInput formControlName="first_name" required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="input-full-width">
          <mat-label>{{ 'app.editUserModal.lastName' | translate }}</mat-label>
          <input matInput formControlName="last_name">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list gutterSize="12" cols="2" rowHeight="70">
      <mat-grid-tile>
        <mat-form-field class="input-full-width">
          <mat-label>{{ 'app.editUserModal.email' | translate }}</mat-label>
          <input matInput formControlName="email" required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="input-full-width">
          <mat-label>{{ 'app.editUserModal.username' | translate }}</mat-label>
          <input matInput formControlName="username" required="{{!update}}" disabled="{{update}}"  readonly="{{update}}">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="30">
      <mat-grid-tile [rowspan]="1">
        <h3 class="title-status">
          <mat-label>{{ 'app.editUserModal.userStatus' | translate }}</mat-label>
        </h3>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="70">
      <mat-grid-tile [rowspan]="1">
        <mat-slide-toggle
          [color]="color"
          (change)="toggleStatus()"
          [checked]="data.id_status === 1">
          {{ 'app.editUserModal.' + statusText | translate }}
        </mat-slide-toggle>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="buttons">
      <button mat-raised-button color="primary" type="submit" [disabled]="editForm.invalid && isFormDirty">
        {{ 'app.editUserModal.saveChanges' | translate }}
      </button>
      <button mat-raised-button color="warn" (click)="cancel()">{{ 'app.editUserModal.cancel' | translate }}</button>
    </div>
  </form>
</div>
