<div class="edit-user-modal">
  <h2>Edit User</h2>
  <form [formGroup]="editForm" (ngSubmit)="saveChanges()">
    <mat-grid-list gutterSize="12" cols="2" rowHeight="70">
      <mat-grid-tile>
        <mat-form-field class="input-full-width">
          <input matInput formControlName="first_name" placeholder="First Name" required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="input-full-width">
          <input matInput formControlName="last_name" placeholder="Last Name">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list gutterSize="12" cols="2" rowHeight="70">
      <mat-grid-tile>
        <mat-form-field class="input-full-width">
          <input matInput formControlName="email" placeholder="Email" required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="input-full-width">
          <input matInput formControlName="username" placeholder="Username" required>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="30">
      <mat-grid-tile [rowspan]="1">
        <h3 class="title-status">User Status</h3>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="70">
      <mat-grid-tile [rowspan]="1">
        <mat-slide-toggle
          [color]="color"
          (change)="toggleStatus()"
          [checked]="data.id_status === 1">
          {{ statusText }}
        </mat-slide-toggle>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="buttons">
      <button mat-raised-button color="primary" type="submit" [disabled]="editForm.invalid && isFormDirty">Save Changes</button>
      <button mat-button (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
